
/*WEB FONTS RELATED*/
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src:
         url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: 
         url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: 
         url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Poppins","Arial",sans-serif;
    font-size: 16px;
    color:#172F53;
}
.container{
    max-width: 1635px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.site-header{
    max-width: 1920px;
    margin: auto;
    background-color:#F6F8FF;    
    padding-top: 62px;
    height: 1000px;
}
.dropdown{
    width: 168px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 5;
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
    transform: translate(-30%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.243444);
    display: none;
  }
  .sitenav-item:hover .dropdown{
    display: block;
  } 
  .dropdown-link{
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 33px;
    color:#172F53;
  }
  .dropdown-link:hover{
    color: var(--Light-red);
    font-weight: 900;
    font-size: 15px;
    line-height: 33px;
    color:#172F53;
  }
.site-header__container{
    display: flex;
    align-items: center;
}

.logo{
    display: block;
    margin-right: 150px;
}

.sitenav{
    margin-right: auto;
}
.sitenav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sitenav-link{
    text-decoration: none;
    color:#172F53;
}
.sitenav-item{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-right: 89px;
    position: relative;
}
.sitenav-item::after{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../images/Vector.png");
    width: 14px;
    height: 8px;
    background-size: contain;
    top: 12px;
    right: -20px;
    transition: ease 0.2s;
}
.sitenav-item:hover::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -18px;
    width: 14px;
    height: 8px;
    background-image: url(../images/Vector.png);
    background-size: contain;
    transform: rotate(180deg);
    background-repeat: no-repeat;
  }
  .sitenav-item:hover .sitenav-link{
    color: #38918c;
  }
.sitenav-link-wrapper{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}
.sign-link{
    text-decoration: none;
    color:#172F53;
}
.sign-link:hover{
    color: #38918c;
}
.register-link{
    padding: 10px 25px;
    text-decoration: none;
    color:#172F53;
    border: 1px solid  #000;
    border-radius: 5px;
    margin-left: 50px;
}
.register-link:hover{
    color:#fff;
    background-color:#172F53 ;
}
/* HERO */
.hero-section{
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero-info{
    width: 690px;
    margin-top: -10px;
    margin-right: 140px;
}
.hero-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: #172F53;
    margin-top: 0;
    margin-bottom: 46px;
}
.hero-img{
    margin-right: -200px;
    z-index: 1;
}
.hero-text{
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
    margin: 0;   
}
/* MAIN */
.main-form-section{
    position: relative;
    max-width: 1920px;
    margin: auto;

}
.track-form{
    width: 1489px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    right: 280px;
    height: 328px;
    z-index: 99;
    margin-top: -150px;
    padding: 70px;
    padding-top: 41px;
}
.track-form__title{
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    margin: 0;
    color:#172F53;
}
 .track-form__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    color:#172F53;
 }
 input{
     width: 913px;
    background-color:#efefef;
    margin-top: 30px;
    margin-right: 95px;
    border-radius: 10px;
    padding: 31px 40px;
    border: none;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #9F9F9F;
 }
 .btn{
     padding: 31px 88px;
     background-color:#21D8E3;
     color: #fff;
     border-radius: 10px;
     border: none;
     font-weight: bold;
     font-size: 25px;
      line-height: 37px;
 }
.btn:hover{
    background-color:#172F53;
     color: #fff;
}
.special-offers{
  padding-top: 350px;
}
.special-info{
    text-align: center;
    width: 855px;
    margin-right: auto;
    margin-left: auto;
}
.special-section__text{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #A9A9A9;
}
.special-section__title{
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #172F53;
    margin-top: 0;
}
.cards-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 173px;
}
.card{
    width: 350px;
    background: #F6F8FF;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 20px;
    transition: ease 0.3s;    
}
.card:hover{
    transform: translatey(-10px);
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
}
.card:not(:last-child){
    margin-right: 65px;
}
.card-title::after{
    content: "";
    width: 120px;
    display: block;
    height: 120px;
    margin-top: 34px;
    margin-bottom: 39px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-title__local::after{
  background-image: url(../images/present-box.svg);
}
.card-title__air::after{
    background-image: url(../images/airplanings.svg);
  }
  .card-title__speed::after{
    background-image: url(../images/speedrunner.svg);
  }
  .card-title__racers::after{
    background-image: url(../images/local-racers.svg);
  }
.card-title{
    font-weight: bold;
    margin: 0;
    font-size: 32px;
    line-height: 48px;
    color: #172F53;
}
.card-text{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #A9A9A9;
}
b{
    color: #172F53;
    margin-left: 10px;
}
.card-active{
    background-color: #5F5FFE;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
  }
  .card-active:hover{
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
  }
  .card-active .card-title{
      color: #fff;
  }
  .card-active .card-text{
    color: #fff;
}
.card-active b{
    color: #fff;
}

/* SALE SECTION */
.sale-section{
    display: flex;
    align-items: center;
    margin-bottom: 178px;
}
.sale-info{
    width: 950px;
    margin-right: 113px;
}
.sale-info__title{
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    color: #172F53;
    margin: 0;
    margin-bottom: 45px;
}
.sale-info__text{
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
    margin-bottom: 65px;
}
.sale-btn{
    text-decoration: none;
    position: relative;
}
.sale-btn::after{
    content: "";
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    position: absolute;
    top: 38px;
    right: 50px;
    background-size: contain;
    background-position: center center;
    background-image: url("../images/Vector\ \(1\).png");
}

/* PARTNERSHIP */
.partnership-section{
    margin-bottom: 185px;
}
.partnership-info{
    width: 697px;
    margin: auto;
    text-align: center;
}
.partnership-text{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #A9A9A9;
    margin-bottom: 10px;
}
.partnership-section__title{
    font-weight: bold;
    font-size: 52px;
    margin: 0;
    margin-bottom: 94px;
    line-height: 78px;
    text-align: center;
    color: #172F53;
}
.companies{
    width: 1489px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 105px 96px;
    display: flex;
    align-items: center;
    margin: auto;
    
}
.companies img{
    transition: ease-in-out 1.9s;
}
.companies img:hover{
    background-color: honeydew;
    transform: rotate(360deg);
}
.company-link:not(:last-child){
  margin-right: 88px;
}

/* FOOTER */

.site-footer{
    background-color: #172F53;
    max-width: 1920px;
    margin: auto;
    height: 815px;
    background-image: url(../images/site-footer-bg.png);
    background-repeat: no-repeat;
    background-position:100% 100%;
    padding-top: 95px;
}
.site-footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.site-footer__title{
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
}
.site-footer__link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
}
.site-footer__link:hover{
    text-decoration:underline;
    color: gold;
}
.site-footer__list:nth-child(3){
    width: 366px;
}
.site-footer__item{
    margin-bottom: 30px;
}