
/*WEB FONTS RELATED*/
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  :root{
    /*Site Colors*/
    --header-body:(#F6F8FF);
    --title-color:(#172F53);
    --text-color:(#7D7D7D);
    --btn-color:(#21D8E3);
    --main-body-color:(#E5E5E5);
    --light-black:(#A9A9A9);
    --card-color:(#F6F8FF);
    --card-active-color:(#5F5FFE);
    --footer-color:(#172F53);
}

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: "Poppins","Arial",sans-serif;
    font-size: 16px;
    
}
.container{
    max-width: 1635px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.site-header{
    background-color:#F6F8FF;    
    padding-top: 62px;
    height: 1000px;
}
.dropdown{
    width: 168px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 5;
    background-color: #fff;
    border-radius: 5px;
    padding: 24px;
    transform: translate(-30%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.243444);
    display: none;
  }
  .sitenav-item:hover .dropdown{
    display: block;
  } 
  .dropdown-link{
    text-decoration: none;
    font-family: "Ubuntu","Arial",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #2D2E40;
  }
  .dropdown-link:hover{
    color: var(--Light-red);
    font-weight: 900;
    font-size: 15px;
    line-height: 33px;
    color: #2D2E40;
  }
.site-header__container{
    display: flex;
    align-items: center;
}

.logo{
    display: block;
    margin-right: 150px;
}

.sitenav{
    margin-right: auto;
}
.sitenav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sitenav-link{
    text-decoration: none;
    color: var(--title-color);
}
.sitenav-item{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-right: 89px;
    position: relative;
}
.sitenav-item::after{
    content:"";
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../images/Vector.png");
    width: 12px;
    height: 6px;
    background-size: contain;
    top: 12px;
    right: -20px;
    transition: ease 0.2s;
}
.sitenav-item:hover::after{
    content: "";
    position: absolute;
    top: 10px;
    right: -18px;
    width: 12px;
    height: 6px;
    background-image: url(../images/Vector.png);
    background-size: contain;
    transform: rotate(180deg);
    background-repeat: no-repeat;
  }
.sitenav-link-wrapper{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

}
.sign-link{
    text-decoration: none;
    color: var(--title-color);
}
.register-link{
    padding: 10px 25px;
    text-decoration: none;
    color: var(--title-color);
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 50px;
}

/* HERO */
.hero-section{
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero-info{
    width: 690px;
    margin-top: -10px;
    margin-right: 140px;
}
.hero-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 46px;
}
.hero-img{
    margin-right: -200px;
}
.hero-text{
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: var(--text-color);
    margin: 0;   
}